

@font-face {
    font-family: 'Tagesschrift';
    src: url('tagesschrift.ttf');
}
h1, h2, h3 { font-family: 'Tagesschrift', 'Georgia', serif; font-size: xx-large }

html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    color: white;
}



p {
    padding: 0 0 10px 0;
}

li {
    list-style-type: decimal;
    list-style-position: inside;

}

article {
    position: relative;
}

.navigation {
    position: fixed;
    z-index: 1;
    top: 20px;

}

.navigation li {
    color: white;
    display: block;
    padding: 0 10px;
    line-height: 30px;
    margin-bottom: 2px;
    font-weight: bold;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;

    border-bottom: 1px solid black;
    text-align: left;
    width: 250px;
}
.navigation li.active {
    color: yellowgreen;
}

.navigation li:hover {
    font-size: 25px;
    cursor: pointer;
    width: 250px !important;
    color: brown;
}


.slide {
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3);

}

video {
    max-width: 100%;
    width: 100%;
    height: 100%;
    cursor: pointer;

}

video[poster] {
    height: 400px;
    width: 900px;

}

.center {
    margin: 0 auto;
    width: 800px;
    margin-top: 320px;

}

#home {

    background: url("../images/11771-the-avengers-1920x1080-movie-wallpaper.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Game1 {
    color: white;

    background: url("../images/12353-halo-4-1920x1080-game-wallpaper.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#Game1, #Game2, #Game3, #Game4, #Game5, #home article {

    width: 100%;
    text-align: center;

}

#Game2 {
    color: white;

    background: url("../images/man-of-steel-1920x1080.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#Game3 {
    color: white;

    background: url("../images/winter-is-coming-game-of-thrones_1920x1080_573-hd-1920x1080.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#Game4 {
    color: white;

    background: url("../images/breaking_bad_1080p_wallpaper_by_ghosty94-d3353gh.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#Game5 {
    color: white;

    background: url("../images/2013_03_After-Earth-Movie-2013-Wallpapers-HD-1920x1080.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

